.main-sidebar{
    display: none;
}
.item-sidebar{
    display: block;
    width: auto;
    height: auto;
/*    border-style: solid;*/
    color: var(--text-color);
}
.item-price{
    width: auto;
    height: auto;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #07ffa21c;
    border-color: #00d98730;
    cursor:pointer;
}
.item-det{
    width: auto;
    height: auto;
/*    padding: 25px;*/
    font-size: 14px;
/*    border-style: solid;*/
    border-radius: 10px;
    margin-top: 10px;
    background-color: none;
    cursor:pointer; 
}
.catItem{
    width: 100%;
    height: 50px;
    overflow: hidden;
    padding: 15px;
/*    border-style: solid;*/
    border-radius: 10px;
    margin-top: 10px;
    background-color:var(--panel-color);
/*    border-color: #00d98730;*/
    cursor:pointer;  
    margin-bottom: 10px;
    transition-duration:0.5s;
}
.catItem:hover{
    width: 100%;
    padding: 15px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
    background-color:var(--panel-color);
    border-color: #22aaa1f0;
    border-width: 1;
    cursor:pointer;  
    margin-bottom: 10px;
    scale: 1.02;
}.catItem:active{
    width: 100%;
    padding: 15px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
    background-color:var(--panel-color);
    border-color: #22aaa1f0;
    border-width: 1;
    cursor:pointer;  
    margin-bottom: 10px;
    scale: 1.01;
}
.cat-item-name{
    width: 50%;
    text-align: left;
}
.cat-item-amount{
    width: 50%;
/*    border-style: solid;*/
    text-align: right;
    color: #22aaa1f0;
}
.item{
    display: flex;
    flex-wrap: wrap;
}
.edit-cat-items{
    width: 100%;
    margin-top: 15px;
/*    border-style: solid;*/
}
.edit-cat-items input{
    width: 100%;
    height: auto;
    background-color: var(--box1-color);
    border-style: hidden;
    color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
    outline-style: hidden;
}
.edit-cat-items input:hover{
    width: 100%;
    height: auto;
    background-color: var(--box1-color);
    border-style:hidden;
    color: #22aaa1f0;
    padding: 5px;
    border-radius: 5px;
    outline-style: solid;
    outline-color: #22aaa1f0;
}.edit-cat-items input:active{
    width: 100%;
    height: auto;
    background-color: var(--box1-color);
    border-style: solid;
    color: #22aaa1f0;
    padding: 5px;
    border-radius: 5px;
    outline-style: solid;
    outline-color: #22aaa1f0;
    border-color: #22aaa1f0;
}
.item-data{
    margin-top: 5px;
    margin-bottom: 5px;
}
.edit-cat-items textarea{
    width: 100%;
    height: auto;
    background-color: var(--box1-color);
    border-style: solid;
    color: #22aaa1f0;
    padding: 5px;
    border-radius: 5px;
    outline-style:hidden;
    border-color: #22aaa1f0;
    text-align: left;
}
.item-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
.delete-itm-btn{
    width: 50%;
    height: auto;
    padding: 7px;
    background-color: var(--panel-color);
    color: crimson;
    border-style: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
    margin: 5px;
}
.delete-itm-btn:hover{
    padding: 7px;
    background-color: crimson;
    color: #fff;
    border-style: solid;
    border-width: thin;
    border-color: crimson;
    border-radius: 5px;
    transition-duration: 0.3s;
    scale: 1.03;
}
.delete-itm-btn:active{
    width: 50%;
    padding: 7px;
    background-color: crimson;
    color: #fff;
    border-style: solid;
    border-width: thin;
    border-color: crimson;
    border-radius: 5px;
    transition-duration: 0.3s;
    scale: 1.01;
}
.save-itm-btn{
      width: 50%;
    height: auto;
    background-color: var(--box1-color);
    padding: 7px;
    color:  #22aaa1f0;
    border-style: solid;
    border-width: thin;
    border-color: #22aaa1f0;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
    margin: 5px;
}
.save-itm-btn:hover{
    width: 50%;
    padding: 7px;
    background-color:  #22aaa1f0;
    color: #fff;
    border-style: solid;
    border-width: thin;
    border-color: #22aaa1f0;
    border-radius: 5px;
    transition-duration: 0.3s;
    scale: 1.03;
}
.save-itm-btn:active{
    width: 50%;
    padding: 7px;
    background-color: #22aaa1f0;
    color:  #fff;
    border-style: solid;
    border-width: thin;
    border-color: #22aaa1f0;
    border-radius: 5px;
    transition-duration: 0.3s;
    scale: 1.01;
}
.add-item-btn{
    
}
.add-btn{
    width: 100%;
    height: auto;
    padding: 7px;
    background-color:  #22aaa1f0;
    color: #fff;
    border-style:hidden;
    border-radius: 5px;
    transition-duration: 0.3s;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.add-btn:hover{
    width: 100%;
    height: auto;
    padding: 7px;
    background-color: #1c5350f0;
    color: #fff;
    border-style: hidden;
    border-radius: 5px;
    transition-duration: 0.3s;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    scale: 1.01;
}.add-btn:active{
    width: 100%;
    height: auto;
    padding: 7px;
    background-color:  #1c5350f0;
    color: #fff;
    border-style: hidden;
    border-radius: 5px;
    transition-duration: 0.3s;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    scale: 1.0;
}
.add-new-itm{
    width: auto;
    height: auto;
    background-color: var(--panel-color);
    padding: 15px;
    border-radius: 15px;   
    margin-bottom: 20px;
    margin-top: 10px;
}

hr{
    opacity: 0.3;
}
.i-tab{
    display: block;
}

































